.post-blogs-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.post-blogs-container .header {
  justify-content: center;
}
.post-blogs-container .textarea {
  width: 60%;
}
.post-blogs-container .textarea .label {
  font-size: 2rem;
}
